OCR/weights/model.t7
/data
OCR/data
kakao/
khKey.pem
vego_SSH.pem
.venv/
buildspec.yml
/test
dotflow_keypair.pem
/L2_BrailleToText
/L3_ContextualErrorCorrection
/L4_TextToBraille
/L5_FeedbackGenerator
OCR/__pycache__
__pycache__/